html{font-size: 10px;}


body{
    margin: 0;
    font-family: "Spoqa Han Sans";
    font-size: 1.4rem;
    line-height: 1.5;
}




.top{
    background-color: #07a6ff;
    height: 300px;
}

.content-center{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


h1{
    font-size: 3.0rem;
    font-weight: 600;
    line-height: 4.2rem;
    padding-top: 6.3rem;

    margin-left: 4.2rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: #fff;

}

h2{
    font-size: 1.80rem;
    font-weight: 300;
    line-height: 4.2rem;
    margin: 0 0 0 4.2rem;
    text-align: left;
    color: #fff;

}

.startnow{
    width: 166px;
    height:32px;

    margin-left: 4.2rem;
    margin-top: 2.1;
    font-size: 1.80rem;
    font-weight: 300;
    color: #fff;

    background-color: #07a6ff;
    border: 1px solid #fff;
}

h3{
    font-size: 3.00rem;
    font-weight: 300;
    line-height: 4.2rem;
    padding-top: 6.3;

    text-align: center;
    color: #4e4e4e;
    margin-top: 6.3rem;
    margin-bottom:0;

}

.btn_viewall{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.1rem;

    color: #07a6ff;
    text-align: center;

    margin-top: 0;
}

.icon{
    margin-top: 20px;
    width: 250px;
    float: left;
    
}